[build]
publish = "dist"
command = "pnpm run build"

[build.environment]
NODE_VERSION = "24"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[redirects]]
from = "https://release.lumirelle.me/*"
to = "https://releases.lumirelle.me/:splat"
status = 302
